# Machine Learning A-Z™: Hands-On Python & R In Data Science‎

## Part 1 - Data Preprocessing

#### Importing libraries

Many libraries are selected/imported by default in RStudio. If not, you have to import them using the `library` function

In [41]:
library(ggplot2) # e.g. Importing ggplot2
library(caTools)

#### Importing the dataset

Reading _cvs-Files_ can be done with the function `read.csv`.

In [46]:
dataset <- read.csv("Data.csv")
dataset

   Country Age Salary Purchased
1  France  44  72000  No
2  Spain   27  48000  Yes
3  Germany 30  54000  No
4  Spain   38  61000  No
5  Germany 40     NA  Yes
6  France  35  58000  Yes
7  Spain   NA  52000  No
8  France  48  79000  Yes
9  Germany 50  83000  No
10 France  37  67000  Yes

#### Missing Data

How to handle missing data in the dataset.

 1. **Removing rows** which includes missing data in one or more columns. However, this is not very useful, if we only have a small number of rows/data or if we there are many columns with missing data
 2.  Filling missing data with the **mean, minimum, maximum ...** of other rows.
 
Here we are using the function `ifelse` to decide wether there are missing data (*na*) or not. If so, we are using the function `ave` to calculate the **mean**.

In [47]:
dataset$Age <- ifelse(is.na(dataset$Age), ave(dataset$Age, FUN = function(x) mean(x, 
    na.rm = TRUE)), dataset$Age)
dataset$Salary <- ifelse(is.na(dataset$Salary), ave(dataset$Salary, FUN = function(x) mean(x, 
    na.rm = TRUE)), dataset$Salary)

dataset

   Country Age      Salary   Purchased
1  France  44.00000 72000.00 No
2  Spain   27.00000 48000.00 Yes
3  Germany 30.00000 54000.00 No
4  Spain   38.00000 61000.00 No
5  Germany 40.00000 63777.78 Yes
6  France  35.00000 58000.00 Yes
7  Spain   38.77778 52000.00 No
8  France  48.00000 79000.00 Yes
9  Germany 50.00000 83000.00 No
10 France  37.00000 67000.00 Yes

#### Categorial Data

Categorial data contains a fixed number of categories. Machine learning algorithms are based on mathematical equations and therefore can only handle *numbers*.  This means, if the categorial data are *text*, we have to encode the categories by replacing them with *numbers*.

With the function `factor` we can encode our _text_ categories into _numbers_.

In this dataset **Country** and **Purchased** are categorial and will be encoded.

In [48]:
# Encoding categorical data
dataset$Country <- factor(dataset$Country, levels = c("France", "Spain", "Germany"), 
    labels = c(1, 2, 3))
dataset$Purchased <- factor(dataset$Purchased, levels = c("No", "Yes"), labels = c(0, 
    1))
dataset

   Country Age      Salary   Purchased
1  1       44.00000 72000.00 0
2  2       27.00000 48000.00 1
3  3       30.00000 54000.00 0
4  2       38.00000 61000.00 0
5  3       40.00000 63777.78 1
6  1       35.00000 58000.00 1
7  2       38.77778 52000.00 0
8  1       48.00000 79000.00 1
9  3       50.00000 83000.00 0
10 1       37.00000 67000.00 1

#### Splitting the Dataset

It is useful to split the dataset into a _training set_ and a _test set_, to proof if the machine learning model is stable. 

If the model performance on the _training set_ is much better than the performance on the _test set_, the model did not generalize well. It rather learned the correlation between the features and the labels including the noise. This is typically called __Overfitting__.

The library `caTools`includes the function `sample.split` for splitting the dataset.

In [51]:
library(caTools)
set.seed(123) # seed to get repeatable results
split <- sample.split(dataset$Purchased, SplitRatio = 0.8)
training_set <- subset(dataset, split == TRUE)
test_set <- subset(dataset, split == FALSE)
training_set

   Country Age      Salary   Purchased
1  1       44.00000 72000.00 0
2  2       27.00000 48000.00 1
3  3       30.00000 54000.00 0
4  2       38.00000 61000.00 0
5  3       40.00000 63777.78 1
7  2       38.77778 52000.00 0
8  1       48.00000 79000.00 1
10 1       37.00000 67000.00 1

In [52]:
test_set

  Country Age Salary Purchased
6 1       35  58000  1
9 3       50  83000  0

#### Feature Scaling

Many machine learning models are based on the _Euclidean distance d_. The _Euclidean distance_ of point 1 with coordinates $(x1, y1)$ and point 2 with coordinates $(x2, y2)$ is:

$$d = \sqrt{(x2-x1)^2+(y2-y1)^2}$$

This means, if the range of the data is not in the same scale, _d_ would be dominated by the data with the largest scale. Therefore the _features_ should be scaled before training a machine learning model.

There are several ways for scaling the data. The two most common are:
 - Standardization: For every observation of a feature the mean of the feature is withdrawn, divided by the standard deviation
 
$$x_{stand} = \frac{x-\bar{x}}{\sigma(x)}$$


 - Normalization: The minimum of the feature is substraced from the observation, divided by the difference of the maximum and the minimum of the feature.
 
$$x_{norm} = \frac{x-x_{min}}{x_{max}-x_{min}}$$
 
Use `scale` for feature scaling in R.

In [53]:
training_set[, 2:3] <- scale(training_set[, 2:3]) # Scaling can only be done on numeric data. Country and Purchased are `factors`and therefore not numeric
test_set[, 2:3] <- scale(test_set[, 2:3])